/* Add CSS Styling */
.pink {
    background-color: #ffc0cb;
    font-family: Verdana,"DejaVu Sans",sans-serif;
}

#blue-id{
    color: #0000ff;
    font-size: 36px;
}

.pink.cooler {
    font-size: 24px;
}

#green-id{
    background-color: #008000;
    font-size: 24px;
    font-weight: bold;
}